{% extends "header.html" %}
{% set active_page = "songs_table" %}

<html>
<body>
{% block body %}
<div class="container">
<table class='table table'>
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Artist</th>
        <th scope="col">Count</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
        <td><a href="https://open.spotify.com/search/{{item[0]}}%20{{item[1]}}">{{item[1]}}</a></td>
        <td><a href="https://open.spotify.com/search/{{item[0]}}">{{item[0]}}</a></td>
        <td>{{item[2]}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
{% endblock %}
</body>
</html>